Pandas

In [ ]:
import pandas as pd

data = [
    {"id": 1, "name": "Arun", "age": 28, "department": "IT", "salary": 55000},
    {"id": 2, "name": "Meena", "age": 32, "department": "HR", "salary": 48000},
    {"id": 3, "name": "Kiran", "age": 29, "department": "Finance", "salary": 61000},
    {"id": 4, "name": "Ravi", "age": 26, "department": "IT", "salary": 52000},
    {"id": 5, "name": "Anita", "age": 35, "department": "HR", "salary": 65000},
    {"id": 6, "name": "Sanjay", "age": 31, "department": "Marketing", "salary": 47000},
    {"id": 7, "name": "Pooja", "age": 27, "department": "Finance", "salary": 58000},
    {"id": 8, "name": "Rohit", "age": 30, "department": "IT", "salary": 60000},
    {"id": 9, "name": "Divya", "age": 33, "department": "Sales", "salary": 54000},
    {"id": 10, "name": "Sachin", "age": 29, "department": "Marketing", "salary": 50000}
]

df = pd.DataFrame(data)
print(df)

In [ ]:
# Find the name(s) of the employee(s) with the highest salary.
print(df.loc[df["salary"]==df["salary"].max(),["name"]])

In [ ]:
# Find the name(s) of the employee(s) with the second highest salary without using orderBy or sorting.
print(df.nlargest(2, "salary").iloc[1] [["name", "salary"]])

In [ ]:
# Find the employee(s) with the minimum salary in each department.
# print(df.groupby("department")["salary"].min())
print(df.groupby("department").agg(min_salary=("salary","min"),max_salary=("salary","max")))

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,collect_list,size

spark = SparkSession.builder.appName("split").getOrCreate()

data = [('sachin','python'),
        ('sachin','pyspark'),
        ('sachin','Sql'),
        ('akash','python'),
        ('akash','pyspark'),
        ('akash','Sql')
        ]
columns =['name','skill']

df = spark.createDataFrame(data=data,schema=columns)
# df.show()

In [ ]:
df2 = df.groupBy("name").agg(
    collect_list("skill").alias("skill_list")
)

df2 = df2.withColumn("skills_count", size(col("skill_list")))
df2.show(truncate=False)