topics I  covered
->file_reading
->schema
->select
->alias
->where_filter
->withcolumn and withcolumnrenamed
->Typecasting
->sort and order_by
->limit
->drop
->drop_duplicates
->union and union_by
->string_funtion
->date_func
->handling_null
->split and indexing
->explode
->array_contains
->group_by
->collect_list
->pivot
->when and otherwise
->joins
->window function
->udf

##### File reading

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("file_read").getOrCreate()

df = spark.read.format('csv')\
               .option("inferSchema",True)\
               .option("header",True)\
               .load("C:/Git files/My git files/PySpark/files/test.csv")
df.show(2)

+-----+---------------+----------+---------+---------------+-----------------+--------+------------+----------------+--------------------+-----------------+--------------------+
|Index|    Customer Id|First Name|Last Name|        Company|             City| Country|     Phone 1|         Phone 2|               Email|Subscription Date|             Website|
+-----+---------------+----------+---------+---------------+-----------------+--------+------------+----------------+--------------------+-----------------+--------------------+
|    1|DD37Cf93aecA6Dc|    Sheryl|   Baxter|Rasmussen Group|     East Leonard|   Chile|229.077.5154|397.884.0519x718|zunigavanessa@smi...|       2020-08-24|http://www.stephe...|
|    2|1Ef7b82A4CAAD10|   Preston|   Lozano|    Vega-Gentry|East Jimmychester|Djibouti|  5153435776|686-620-1820x944|     vmata@colon.com|       2021-04-23|http://www.hobbs....|
+-----+---------------+----------+---------+---------------+-----------------+--------+------------+----------------+--------------------+-----------------+--------------------+
only showing top 2 rows

#### schema

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("file_read").getOrCreate()


sales_data = [
    {"sale_id": 1,  "date": "2025-01-03", "customer": "Arun",     "product": "Laptop",      "amount": 56000},
    {"sale_id": 2,  "date": "2025-01-04", "customer": "Meena",    "product": "Mouse",       "amount": 800},
    {"sale_id": 3,  "date": "2025-01-05", "customer": "John",     "product": "Keyboard",    "amount": 1500},
    {"sale_id": 4,  "date": "2025-01-06", "customer": "Priya",    "product": "Monitor",     "amount": 7200},
    {"sale_id": 5,  "date": "2025-01-07", "customer": "Sneha",    "product": "Laptop",      "amount": 53000},
    {"sale_id": 6,  "date": "2025-01-08", "customer": "Kiran",    "product": "Tablet",      "amount": 18000},
    {"sale_id": 7,  "date": "2025-01-09", "customer": "Rahul",    "product": "Earphones",   "amount": 1200},
    {"sale_id": 8,  "date": "2025-01-10", "customer": "Vijay",    "product": "Speaker",     "amount": 2500},
    {"sale_id": 9,  "date": "2025-01-11", "customer": "Anjali",   "product": "Webcam",      "amount": 3000},
    {"sale_id": 10, "date": "2025-01-12", "customer": "Nitin",    "product": "Printer",     "amount": 9000},
    {"sale_id": 11, "date": "2025-01-13", "customer": "Divya",    "product": "Laptop",      "amount": 59000},
    {"sale_id": 12, "date": "2025-01-14", "customer": "Harish",   "product": "Mouse",       "amount": 850},
    {"sale_id": 13, "date": "2025-01-15", "customer": "Suman",    "product": "Keyboard",    "amount": 1600},
    {"sale_id": 14, "date": "2025-01-16", "customer": "Geeta",    "product": "Monitor",     "amount": 7100},
    {"sale_id": 15, "date": "2025-01-17", "customer": "Mahesh",   "product": "Tablet",      "amount": 17500},
    {"sale_id": 16, "date": "2025-01-18", "customer": "Asha",     "product": "Speaker",     "amount": 2600},
    {"sale_id": 17, "date": "2025-01-19", "customer": "Lokesh",   "product": "Laptop",      "amount": 60000},
    {"sale_id": 18, "date": "2025-01-20", "customer": "Tarun",    "product": "Webcam",      "amount": 2800},
    {"sale_id": 19, "date": "2025-01-21", "customer": "Gauri",    "product": "Earphones",   "amount": 1100},
    {"sale_id": 20, "date": "2025-01-22", "customer": "Sathish",  "product": "Printer",     "amount": 9500}
]

df2 = spark.createDataFrame(data=sales_data)
df2.show(4)

+------+--------+----------+--------+-------+
|amount|customer|      date| product|sale_id|
+------+--------+----------+--------+-------+
| 56000|    Arun|2025-01-03|  Laptop|      1|
|   800|   Meena|2025-01-04|   Mouse|      2|
|  1500|    John|2025-01-05|Keyboard|      3|
|  7200|   Priya|2025-01-06| Monitor|      4|
+------+--------+----------+--------+-------+
only showing top 4 rows

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("file_read").getOrCreate()
my_struct_schema = StructType([
    StructField("sale_id", IntegerType(), True),
    StructField("date", DateType(), True),
    StructField("customer", StringType(), True),
    StructField("product", StringType(), True),
    StructField("amount", DoubleType(), True)
    
])
print("Struct_schema")
df2 = spark.read.format('csv')\
                .schema(my_struct_schema)\
                .option('header',True)\
                .load("C:/Git files/My git files/PySpark/files/sales.csv")

df2.printSchema()

my_ddl_schema = """
sale_id INT,
date STRING,
customer STRING,
product STRING,
amount DOUBLE
"""

print("ddl_scehma")
df1 = spark.read.format('csv')\
                .schema(my_ddl_schema)\
                .option('header',True)\
                .load("C:/Git files/My git files/PySpark/files/sales.csv")

df1.printSchema()

Struct_schema
root
 |-- sale_id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- customer: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: double (nullable = true)

ddl_scehma
root
 |-- sale_id: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- customer: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: double (nullable = true)

#### select

In [5]:
df2.select('customer','amount').show(3)

+--------+-------+
|customer| amount|
+--------+-------+
|    Arun|56000.0|
|   Meena|  800.0|
|    John| 1500.0|
+--------+-------+
only showing top 3 rows

#### alias

In [6]:
df2.select(col("customer").alias("customer_name")).show(4)

+-------------+
|customer_name|
+-------------+
|         Arun|
|        Meena|
|         John|
|        Priya|
+-------------+
only showing top 4 rows

#### filter

In [7]:
df2.filter(col("customer").startswith('A')).show()

+-------+----------+--------+-------+-------+
|sale_id|      date|customer|product| amount|
+-------+----------+--------+-------+-------+
|      1|2025-01-03|    Arun| Laptop|56000.0|
|      9|2025-01-11|  Anjali| Webcam| 3000.0|
|     16|2025-01-18|    Asha|Speaker| 2600.0|
+-------+----------+--------+-------+-------+

#### withColumnRenamed

In [8]:
df1 = df1.withColumnRenamed("customer","customer_name")
df1.show(5)

+-------+----------+-------------+--------+-------+
|sale_id|      date|customer_name| product| amount|
+-------+----------+-------------+--------+-------+
|      1|2025-01-03|         Arun|  Laptop|56000.0|
|      2|2025-01-04|        Meena|   Mouse|  800.0|
|      3|2025-01-05|         John|Keyboard| 1500.0|
|      4|2025-01-06|        Priya| Monitor| 7200.0|
|      5|2025-01-07|        Sneha|  Laptop|53000.0|
+-------+----------+-------------+--------+-------+
only showing top 5 rows

#### Typecasting()

In [9]:
df1 = df1.withColumn("date",col("date").cast(DateType()))
df1.printSchema()

root
 |-- sale_id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: double (nullable = true)

#### sort

In [10]:
df1.sort(col("customer_name").desc()).show(4)
df1.sort(["sale_id","customer_name"],ascending=[0,1]).show(4)
df1.sort(col('sale_id').asc(),col('customer_name').desc())

+-------+----------+-------------+--------+-------+
|sale_id|      date|customer_name| product| amount|
+-------+----------+-------------+--------+-------+
|      8|2025-01-10|        Vijay| Speaker| 2500.0|
|     18|2025-01-20|        Tarun|  Webcam| 2800.0|
|     13|2025-01-15|        Suman|Keyboard| 1600.0|
|      5|2025-01-07|        Sneha|  Laptop|53000.0|
+-------+----------+-------------+--------+-------+
only showing top 4 rows

+-------+----------+-------------+---------+-------+
|sale_id|      date|customer_name|  product| amount|
+-------+----------+-------------+---------+-------+
|     20|2025-01-22|      Sathish|  Printer| 9500.0|
|     19|2025-01-21|        Gauri|Earphones| 1100.0|
|     18|2025-01-20|        Tarun|   Webcam| 2800.0|
|     17|2025-01-19|       Lokesh|   Laptop|60000.0|
+-------+----------+-------------+---------+-------+
only showing top 4 rows

DataFrame[sale_id: int, date: date, customer_name: string, product: string, amount: double]

#### limit

In [11]:
df1.limit(5).show()

+-------+----------+-------------+--------+-------+
|sale_id|      date|customer_name| product| amount|
+-------+----------+-------------+--------+-------+
|      1|2025-01-03|         Arun|  Laptop|56000.0|
|      2|2025-01-04|        Meena|   Mouse|  800.0|
|      3|2025-01-05|         John|Keyboard| 1500.0|
|      4|2025-01-06|        Priya| Monitor| 7200.0|
|      5|2025-01-07|        Sneha|  Laptop|53000.0|
+-------+----------+-------------+--------+-------+

#### Drop

In [12]:
#dropiing column name from dataframe
df1.drop(col("product")).show(4)
df1.drop("product","amount").show(4)

+-------+----------+-------------+-------+
|sale_id|      date|customer_name| amount|
+-------+----------+-------------+-------+
|      1|2025-01-03|         Arun|56000.0|
|      2|2025-01-04|        Meena|  800.0|
|      3|2025-01-05|         John| 1500.0|
|      4|2025-01-06|        Priya| 7200.0|
+-------+----------+-------------+-------+
only showing top 4 rows

+-------+----------+-------------+
|sale_id|      date|customer_name|
+-------+----------+-------------+
|      1|2025-01-03|         Arun|
|      2|2025-01-04|        Meena|
|      3|2025-01-05|         John|
|      4|2025-01-06|        Priya|
+-------+----------+-------------+
only showing top 4 rows

#### drop_duplicates

In [13]:
#droping duplicates from dataframe
df1.dropDuplicates().show(4)
df1.dropDuplicates(subset=["customer_name","product"]).show(4)

+-------+----------+-------------+---------+-------+
|sale_id|      date|customer_name|  product| amount|
+-------+----------+-------------+---------+-------+
|      5|2025-01-07|        Sneha|   Laptop|53000.0|
|     17|2025-01-19|       Lokesh|   Laptop|60000.0|
|      7|2025-01-09|        Rahul|Earphones| 1200.0|
|      3|2025-01-05|         John| Keyboard| 1500.0|
+-------+----------+-------------+---------+-------+
only showing top 4 rows

+-------+----------+-------------+--------+-------+
|sale_id|      date|customer_name| product| amount|
+-------+----------+-------------+--------+-------+
|     20|2025-01-22|      Sathish| Printer| 9500.0|
|     11|2025-01-13|        Divya|  Laptop|59000.0|
|      2|2025-01-04|        Meena|   Mouse|  800.0|
|     13|2025-01-15|        Suman|Keyboard| 1600.0|
+-------+----------+-------------+--------+-------+
only showing top 4 rows

#### union or unionByName()

In [14]:
data1 = [
        {"sale_id": 1, "date": "2025-01-03", "customer": "Arun", "product": "Laptop", "amount": 56000}, 
        {"sale_id": 2, "date": "2025-01-04", "customer": "Meena", "product": "Mouse", "amount": 800}
        ]

data2 =[
    {"sale_id": 3, "date": "2025-01-05", "customer": "John", "product": "Keyboard", "amount": 1500}, 
    {"sale_id": 4, "date": "2025-01-06", "customer": "Priya", "product": "Monitor", "amount": 7200}, 
    {"sale_id": 5, "date": "2025-01-07", "customer": "Sneha", "product": "Laptop", "amount": 53000}
]

df_data1 = spark.createDataFrame(data=data1)
df_data2 = spark.createDataFrame(data=data2)

df= df_data1.union(df_data2)
df.show()

df= df_data1.unionByName(df_data2)
df.show()

+------+--------+----------+--------+-------+
|amount|customer|      date| product|sale_id|
+------+--------+----------+--------+-------+
| 56000|    Arun|2025-01-03|  Laptop|      1|
|   800|   Meena|2025-01-04|   Mouse|      2|
|  1500|    John|2025-01-05|Keyboard|      3|
|  7200|   Priya|2025-01-06| Monitor|      4|
| 53000|   Sneha|2025-01-07|  Laptop|      5|
+------+--------+----------+--------+-------+

+------+--------+----------+--------+-------+
|amount|customer|      date| product|sale_id|
+------+--------+----------+--------+-------+
| 56000|    Arun|2025-01-03|  Laptop|      1|
|   800|   Meena|2025-01-04|   Mouse|      2|
|  1500|    John|2025-01-05|Keyboard|      3|
|  7200|   Priya|2025-01-06| Monitor|      4|
| 53000|   Sneha|2025-01-07|  Laptop|      5|
+------+--------+----------+--------+-------+

#### Srting function

In [15]:
#concat
df1 = df1.withColumn("full_name",concat_ws(" ",col("customer_name"),lit("   AAA   ")))
# df1.show(4)

#trim
df1 = df1.withColumn("trim_name",trim(col("full_name")))

#ltrim
df1 = df1.withColumn("ltrim_name",ltrim(col("full_name")))

#rtrim
df1 = df1.withColumn("rtrim_name",rtrim(col("full_name")))
df1.show(4)
df1 = df1.drop('full_name','trim_name','ltrim_name','rtrim_name')

+-------+----------+-------------+--------+-------+---------------+------------+---------------+------------+
|sale_id|      date|customer_name| product| amount|      full_name|   trim_name|     ltrim_name|  rtrim_name|
+-------+----------+-------------+--------+-------+---------------+------------+---------------+------------+
|      1|2025-01-03|         Arun|  Laptop|56000.0| Arun    AAA   | Arun    AAA| Arun    AAA   | Arun    AAA|
|      2|2025-01-04|        Meena|   Mouse|  800.0|Meena    AAA   |Meena    AAA|Meena    AAA   |Meena    AAA|
|      3|2025-01-05|         John|Keyboard| 1500.0| John    AAA   | John    AAA| John    AAA   | John    AAA|
|      4|2025-01-06|        Priya| Monitor| 7200.0|Priya    AAA   |Priya    AAA|Priya    AAA   |Priya    AAA|
+-------+----------+-------------+--------+-------+---------------+------------+---------------+------------+
only showing top 4 rows

#### Date fun

In [16]:
#current_date
df1 = df1.withColumn("current_date",current_date())

#date_add
df1 = df1.withColumn("after_7_days",date_add("current_date",7))

#date_sub
df1 =df1.withColumn("before_7_days",date_sub("current_date",7))

#date_diff
df1 = df1.withColumn("date_diff",date_diff("after_7_days","current_date"))

#last_day
df1 = df1.withColumn("last_day",last_day("current_date"))

#date_format
df1 = df1.withColumn("changed_date",date_format(col('date'),'dd-MM-yyyy'))

df1.select("date","changed_date","current_date","after_7_days","before_7_days","date_diff","last_day",).show(4)
df1 = df1.drop("changed_date","current_date","after_7_days","before_7_days","date_diff","last_day")

+----------+------------+------------+------------+-------------+---------+----------+
|      date|changed_date|current_date|after_7_days|before_7_days|date_diff|  last_day|
+----------+------------+------------+------------+-------------+---------+----------+
|2025-01-03|  03-01-2025|  2025-12-08|  2025-12-15|   2025-12-01|        7|2025-12-31|
|2025-01-04|  04-01-2025|  2025-12-08|  2025-12-15|   2025-12-01|        7|2025-12-31|
|2025-01-05|  05-01-2025|  2025-12-08|  2025-12-15|   2025-12-01|        7|2025-12-31|
|2025-01-06|  06-01-2025|  2025-12-08|  2025-12-15|   2025-12-01|        7|2025-12-31|
+----------+------------+------------+------------+-------------+---------+----------+
only showing top 4 rows

#### handling null

In [17]:
df1.dropna('any')
df1.dropna('all')
df1.dropna(subset=["customer_name"])
df1.fillna("not available")
df1.fillna("Not",subset=["customer_name"])

DataFrame[sale_id: int, date: date, customer_name: string, product: string, amount: double]

In [18]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("file_read").getOrCreate()
data_f = spark.read.format('csv')\
                .option("inferSchema",True)\
                .option('header',True)\
                .load("C:/Git files/My git files/PySpark/files/friday_sale.csv")
data_f = data_f.withColumn("Full_name",concat_ws(" ",col("first_name"),col("last_name")))

#### split, indexing

In [19]:
data_f = data_f.withColumn("split_name",split(col("Full_name")," "))
data_f = data_f.withColumn("f_name",split(col("Full_name")," ")[0])\
               .withColumn("l_name",split(col("Full_name")," ")[1])
data_f.select("split_name","f_name","l_name").show(4)
data_f = data_f.drop("f_name","l_name")

+---------------+------+------+
|     split_name|f_name|l_name|
+---------------+------+------+
|  [Arun, Kumar]|  Arun| Kumar|
|[Meena, Sharma]| Meena|Sharma|
| [John, Mathew]|  John|Mathew|
| [Priya, Reddy]| Priya| Reddy|
+---------------+------+------+
only showing top 4 rows

#### Exploade

In [20]:
data_f = data_f.withColumn("explode_data",explode(col("split_name")))
data_f.show(6)

+-------+----------+----------+---------+--------+------+------------+---------------+------------+
|sale_id|      date|first_name|last_name| product|amount|   Full_name|     split_name|explode_data|
+-------+----------+----------+---------+--------+------+------------+---------------+------------+
|      1|2025-01-03|      Arun|    Kumar|  Laptop| 56000|  Arun Kumar|  [Arun, Kumar]|        Arun|
|      1|2025-01-03|      Arun|    Kumar|  Laptop| 56000|  Arun Kumar|  [Arun, Kumar]|       Kumar|
|      2|2025-01-04|     Meena|   Sharma|   Mouse|   800|Meena Sharma|[Meena, Sharma]|       Meena|
|      2|2025-01-04|     Meena|   Sharma|   Mouse|   800|Meena Sharma|[Meena, Sharma]|      Sharma|
|      3|2025-01-05|      John|   Mathew|Keyboard|  1500| John Mathew| [John, Mathew]|        John|
|      3|2025-01-05|      John|   Mathew|Keyboard|  1500| John Mathew| [John, Mathew]|      Mathew|
+-------+----------+----------+---------+--------+------+------------+---------------+------------+
only showing top 6 rows

#### Array Contains

In [21]:
data_f = data_f.withColumn("array_contains",array_contains(col("split_name"),"Kumar"))
data_f.show(4)
data_f = data_f.drop("array_contains","explode_data","split_name")
data_f.printSchema()

+-------+----------+----------+---------+-------+------+------------+---------------+------------+--------------+
|sale_id|      date|first_name|last_name|product|amount|   Full_name|     split_name|explode_data|array_contains|
+-------+----------+----------+---------+-------+------+------------+---------------+------------+--------------+
|      1|2025-01-03|      Arun|    Kumar| Laptop| 56000|  Arun Kumar|  [Arun, Kumar]|        Arun|          true|
|      1|2025-01-03|      Arun|    Kumar| Laptop| 56000|  Arun Kumar|  [Arun, Kumar]|       Kumar|          true|
|      2|2025-01-04|     Meena|   Sharma|  Mouse|   800|Meena Sharma|[Meena, Sharma]|       Meena|         false|
|      2|2025-01-04|     Meena|   Sharma|  Mouse|   800|Meena Sharma|[Meena, Sharma]|      Sharma|         false|
+-------+----------+----------+---------+-------+------+------------+---------------+------------+--------------+
only showing top 4 rows

root
 |-- sale_id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: integer (nullable = true)
 |-- Full_name: string (nullable = false)

#### Group By

In [22]:
data_f.groupBy("product").agg(max("amount").alias("maximun_amount")\
                             ,min("amount").alias("minmun_amount")\
                             ,sum("amount").alias("sum_amount")).show()

+---------+--------------+-------------+----------+
|  product|maximun_amount|minmun_amount|sum_amount|
+---------+--------------+-------------+----------+
|Earphones|          1200|         1100|      4600|
|  Speaker|          2600|         2500|     10200|
|   Webcam|          3000|         2800|     11600|
|   Laptop|         60000|        53000|    456000|
|    Mouse|           850|          800|      3300|
|   Tablet|         18000|        17500|     71000|
|  Printer|          9500|         9000|     37000|
| Keyboard|          1600|         1500|      6200|
|  Monitor|          7200|         7100|     28600|
+---------+--------------+-------------+----------+

#### collect list,set,struct

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import collect_list,collect_set,struct

spark = SparkSession.builder.appName("collect").getOrCreate()

student_hobbies = [
    {"student_id": 1, "name": "Arun",  "hobby": "Cricket"},
    {"student_id": 1, "name": "Arun",  "hobby": "Music"},
    {"student_id": 1, "name": "Arun",  "hobby": "Chess"},

    {"student_id": 2, "name": "Meena", "hobby": "Reading"},
    {"student_id": 2, "name": "Meena", "hobby": "Dancing"},

    {"student_id": 3, "name": "Kiran", "hobby": "Swimming"},
    {"student_id": 3, "name": "Kiran", "hobby": "Cricket"},
    {"student_id": 3, "name": "Kiran", "hobby": "Gym"},

    {"student_id": 4, "name": "Divya", "hobby": "Yoga"},
    {"student_id": 4, "name": "Divya", "hobby": "Painting"}
]

df_collect  = spark.createDataFrame(student_hobbies)

#### collect_list

In [24]:
df_collect.groupBy("student_id","name")\
          .agg(collect_list("hobby").alias("hobbies"))\
          .show(truncate=False)

+----------+-----+------------------------+
|student_id|name |hobbies                 |
+----------+-----+------------------------+
|1         |Arun |[Cricket, Music, Chess] |
|2         |Meena|[Reading, Dancing]      |
|3         |Kiran|[Swimming, Cricket, Gym]|
|4         |Divya|[Yoga, Painting]        |
+----------+-----+------------------------+

#### collect_set

In [25]:
df_collect.groupBy("student_id","name")\
          .agg(collect_set("hobby").alias("hobbies"))\
          .show(truncate=False)

+----------+-----+------------------------+
|student_id|name |hobbies                 |
+----------+-----+------------------------+
|1         |Arun |[Chess, Cricket, Music] |
|2         |Meena|[Reading, Dancing]      |
|3         |Kiran|[Swimming, Cricket, Gym]|
|4         |Divya|[Painting, Yoga]        |
+----------+-----+------------------------+

#### struct

In [26]:
df_collect.select("name",struct("student_id","hobby").alias("details"))\
          .groupBy("name")\
          .agg(collect_list("details").alias("details"))\
          .show(truncate=False)

+-----+---------------------------------------+
|name |details                                |
+-----+---------------------------------------+
|Arun |[{1, Cricket}, {1, Music}, {1, Chess}] |
|Meena|[{2, Reading}, {2, Dancing}]           |
|Kiran|[{3, Swimming}, {3, Cricket}, {3, Gym}]|
|Divya|[{4, Yoga}, {4, Painting}]             |
+-----+---------------------------------------+

### Pivot

In [27]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import first,when,col

spark = SparkSession.builder.appName("pivot").getOrCreate()

employee_attendance = [
    {"emp_id": 101, "name": "Arun",  "date": "2025-01-01", "status": "Present"},
    {"emp_id": 101, "name": "Arun",  "date": "2025-01-02", "status": "Absent"},
    {"emp_id": 101, "name": "Arun",  "date": "2025-01-03", "status": "Present"},

    {"emp_id": 102, "name": "Meena", "date": "2025-01-01", "status": "Present"},
    {"emp_id": 102, "name": "Meena", "date": "2025-01-02", "status": "Present"},
    {"emp_id": 102, "name": "Meena", "date": "2025-01-03", "status": "Present"},

    {"emp_id": 103, "name": "Kiran", "date": "2025-01-01", "status": "Absent"},
    {"emp_id": 103, "name": "Kiran", "date": "2025-01-02", "status": "Present"},
    {"emp_id": 103, "name": "Kiran", "date": "2025-01-03", "status": "Absent"},

    {"emp_id": 104, "name": "Divya", "date": "2025-01-01", "status": "Present"},
    {"emp_id": 104, "name": "Divya", "date": "2025-01-02", "status": "Absent"},
    {"emp_id": 104, "name": "Divya", "date": "2025-01-03", "status": "Present"}
]

df_pivot  = spark.createDataFrame(employee_attendance)

In [35]:
df = df_pivot.groupBy("emp_id","name")\
        .pivot("date")\
        .agg(first("status"))
df.show(5)

+------+-----+----------+----------+----------+
|emp_id| name|2025-01-01|2025-01-02|2025-01-03|
+------+-----+----------+----------+----------+
|   101| Arun|   Present|    Absent|   Present|
|   102|Meena|   Present|   Present|   Present|
|   103|Kiran|    Absent|   Present|    Absent|
|   104|Divya|   Present|    Absent|   Present|
+------+-----+----------+----------+----------+

#### when otherwise

In [29]:
df = df.withColumn("student_type",when(
    (col("2025-01-01")=="Present")&
    (col("2025-01-02")=="Present")&
    (col("2025-01-03")=="Present"),"good_student").otherwise("bad_student")).show()

+------+-----+----------+----------+----------+------------+
|emp_id| name|2025-01-01|2025-01-02|2025-01-03|student_type|
+------+-----+----------+----------+----------+------------+
|   101| Arun|   Present|    Absent|   Present| bad_student|
|   102|Meena|   Present|   Present|   Present|good_student|
|   103|Kiran|    Absent|   Present|    Absent| bad_student|
|   104|Divya|   Present|    Absent|   Present| bad_student|
+------+-----+----------+----------+----------+------------+

# Join

#### inner,left,right,anti

In [30]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName("join").getOrCreate()
data1 = [
  (1, "Arun",  20),
  (2, "Meena", 22),
  (3, "Ravi",  19),
  (4, "Kiran", 21)
]

data2 =[
  (1, "Maths",     88),
  (1, "Science",   92),
  (3, "Maths",     76),
  (5, "Science",   81) 
]

df1 = spark.createDataFrame(data=data1,schema=['student_id',"Name","Age"])
df2 = spark.createDataFrame(data=data2,schema=['student_id',"sub","Marks"])

print("Inner_join")
df_inner = df1.join(df2,df1["student_id"]==df2["student_id"],how='inner')
df_inner.show()

print("left_join")
df_left = df1.join(df2,df1["student_id"]==df2["student_id"],how='left')
df_left.show()

print("right_join")
df_right = df1.join(df2,df1["student_id"]==df2["student_id"],how='right')
df_right.show()

print("anti_join")
df_right = df1.join(df2,df1["student_id"]==df2["student_id"],how='anti')
df_right.show()

Inner_join
+----------+----+---+----------+-------+-----+
|student_id|Name|Age|student_id|    sub|Marks|
+----------+----+---+----------+-------+-----+
|         1|Arun| 20|         1|  Maths|   88|
|         1|Arun| 20|         1|Science|   92|
|         3|Ravi| 19|         3|  Maths|   76|
+----------+----+---+----------+-------+-----+

left_join
+----------+-----+---+----------+-------+-----+
|student_id| Name|Age|student_id|    sub|Marks|
+----------+-----+---+----------+-------+-----+
|         1| Arun| 20|         1|Science|   92|
|         1| Arun| 20|         1|  Maths|   88|
|         2|Meena| 22|      NULL|   NULL| NULL|
|         3| Ravi| 19|         3|  Maths|   76|
|         4|Kiran| 21|      NULL|   NULL| NULL|
+----------+-----+---+----------+-------+-----+

right_join
+----------+----+----+----------+-------+-----+
|student_id|Name| Age|student_id|    sub|Marks|
+----------+----+----+----------+-------+-----+
|         1|Arun|  20|         1|  Maths|   88|
|         1|Arun|  20|         1|Science|   92|
|         3|Ravi|  19|         3|  Maths|   76|
|      NULL|NULL|NULL|         5|Science|   81|
+----------+----+----+----------+-------+-----+

anti_join
+----------+-----+---+
|student_id| Name|Age|
+----------+-----+---+
|         2|Meena| 22|
|         4|Kiran| 21|
+----------+-----+---+

#### Window function

In [31]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, row_number, rank,dense_rank
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("window").getOrCreate()

employee_perf = [
    {"emp_id": 101, "name": "Arun",   "dept": "IT",        "rating": 4.3, "projects": 5},
    {"emp_id": 102, "name": "Meena",  "dept": "HR",        "rating": 3.8, "projects": 3},
    {"emp_id": 103, "name": "Sachin", "dept": "Finance",   "rating": 4.7, "projects": 6},
    {"emp_id": 104, "name": "Kiran",  "dept": "IT",        "rating": 3.9, "projects": 2},
    {"emp_id": 105, "name": "Priya",  "dept": "Sales",     "rating": 4.1, "projects": 4},
    {"emp_id": 106, "name": "Akash",  "dept": "Sales",     "rating": 4.8, "projects": 7},
    {"emp_id": 107, "name": "Deepa",  "dept": "Finance",   "rating": 3.6, "projects": 3},
    {"emp_id": 108, "name": "Varun",  "dept": "IT",        "rating": 4.5, "projects": 5},
    {"emp_id": 109, "name": "Anita",  "dept": "HR",        "rating": 3.7, "projects": 2},
    {"emp_id": 110, "name": "Rahul",  "dept": "Finance",   "rating": 4.0, "projects": 4},
    {"emp_id": 111, "name": "Teena", "dept": "IT", "rating": 4.3, "projects": 4}

]

df = spark.createDataFrame(data=employee_perf)

win = Window.partitionBy("dept").orderBy(col("rating").desc())

df = df.withColumn("row_number",row_number().over(win))\
       .withColumn("rank",rank().over(win))\
       .withColumn("dense_rank",dense_rank().over(win))

df.filter((col("row_number")==2) & (col("rank")==2) & (col("dense_rank")==2)).select("emp_id","name","dept","rating","projects").show()

+------+-----+-------+------+--------+
|emp_id| name|   dept|rating|projects|
+------+-----+-------+------+--------+
|   110|Rahul|Finance|   4.0|       4|
|   109|Anita|     HR|   3.7|       2|
|   101| Arun|     IT|   4.3|       5|
|   105|Priya|  Sales|   4.1|       4|
+------+-----+-------+------+--------+

In [32]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("window").getOrCreate()

sales_data = [
    {"sale_id": 1, "region": "North", "salesperson": "Arun",   "amount": 5000},
    {"sale_id": 2, "region": "South", "salesperson": "Meena",  "amount": 7000},
    {"sale_id": 3, "region": "East",  "salesperson": "Sachin", "amount": 6500},
    {"sale_id": 4, "region": "North", "salesperson": "Arun",   "amount": 8000},
    {"sale_id": 5, "region": "West",  "salesperson": "Priya",  "amount": 4000},
    {"sale_id": 6, "region": "South", "salesperson": "Meena",  "amount": 9000},
    {"sale_id": 7, "region": "East",  "salesperson": "Sachin", "amount": 7500},
    {"sale_id": 8, "region": "West",  "salesperson": "Priya",  "amount": 6000},
    {"sale_id": 9, "region": "North", "salesperson": "Kiran",  "amount": 3000},
    {"sale_id": 10,"region": "South", "salesperson": "Deepa",  "amount": 5500}
]

df1 = spark.createDataFrame(data=sales_data)

win = Window.partitionBy("region").orderBy(F.col("amount").desc())
win2 = Window.partitionBy("salesperson").orderBy(F.col("amount").desc())

df1 = df1.withColumn("row_number",F.row_number().over(win))

# df1.filter(col("row_number")==1).show()

df1 = df1.groupBy("salesperson") \
        .agg(F.sum("amount").alias("total_sales"))

df1.show()
win2 = Window.orderBy(F.col("total_sales").desc())

df1 = df1.withColumn("rank", F.rank().over(win2))

df1.filter((F.col("rank")==1) | (F.col("rank")==2)).show()

+-----------+-----------+
|salesperson|total_sales|
+-----------+-----------+
|       Arun|      13000|
|      Meena|      16000|
|     Sachin|      14000|
|      Priya|      10000|
|      Kiran|       3000|
|      Deepa|       5500|
+-----------+-----------+

+-----------+-----------+----+
|salesperson|total_sales|rank|
+-----------+-----------+----+
|      Meena|      16000|   1|
|     Sachin|      14000|   2|
+-----------+-----------+----+

### UDF ->User defined function

In [33]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = SparkSession.builder.appName("udf").getOrCreate()

products = [
    {"prod_id": 1, "product": "Laptop",
        "category": "Electronics", "price": 56000},
    {"prod_id": 2, "product": "Keyboard",
        "category": "Electronics", "price": 1500},
    {"prod_id": 3, "product": "Shoes",      "category": "Fashion",     "price": 2500},
    {"prod_id": 4, "product": "T-Shirt",    "category": "Fashion",     "price": 700},
    {"prod_id": 5, "product": "Mixer",      "category": "Home",        "price": 3200},
    {"prod_id": 6, "product": "Sofa",       "category": "Home",        "price": 28000}
]

df = spark.createDataFrame(products)


def price_range(x):
    if x < 2000:
        return "Low"
    elif x >= 2000 and x <= 10000:
        return "Medium"
    else:
        return "High"


my_price_range = F.udf(price_range)

df.withColumn("price_range", my_price_range(F.col("price"))).show()

+-----------+-----+-------+--------+-----------+
|   category|price|prod_id| product|price_range|
+-----------+-----+-------+--------+-----------+
|Electronics|56000|      1|  Laptop|       High|
|Electronics| 1500|      2|Keyboard|        Low|
|    Fashion| 2500|      3|   Shoes|     Medium|
|    Fashion|  700|      4| T-Shirt|        Low|
|       Home| 3200|      5|   Mixer|     Medium|
|       Home|28000|      6|    Sofa|       High|
+-----------+-----+-------+--------+-----------+