#### when Otherwrise

In [20]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,when

spark  = SparkSession.builder.appName("sort").getOrCreate()

data =[
  (1,  "Arun",   "IT",        75000, 5),
  (2,  "Meena",  "HR",        42000, 2),
  (3,  "Ravi",   "Finance",   68000, 7),
  (4,  "Kiran",  "IT",        30000, 1),
  (5,  "Sana",   "Marketing", 52000, 4),
  (6,  "Joseph", "IT",        90000, 9),
  (7,  "Anita",  "Finance",   25000, 1),
  (8,  "Rahul",  "HR",        48000, 3),
  (9,  "Vishal", "Marketing", 72000, 6),
  (10, "Rita",   "Finance",   38000, 2),
  (11, "John",   "IT",        85000, 8),
  (12, "Priya",  "HR",        29000, 1),
  (13, "Asha",   "Marketing", 61000, 5),
  (14, "Kumar",  "Finance",   46000, 3),
  (15, "Teena",  "IT",        54000, 4),
  (16, "Rohan",  "HR",        70000, 6),
  (17, "Divya",  "Marketing", 31000, 1),
  (18, "Arjun",  "Finance",   95000,10),
  (19, "Manoj",  "IT",        27000, 1),
  (20, "Kavya",  "HR",        65000, 5)
]


df = spark.createDataFrame(data=data,schema=["emp_id","Name","dept","Salary","Exp"])

#### Type 1

In [21]:
df = df.withColumn("Salary_grade",when(col("salary")>50000,"High").otherwise("low"))

#### Type 2

In [22]:
df = df.withColumn("category",when(((col("dept")=="IT")&(col("Salary_grade")=="High")),"best_IT").otherwise("Best_non-IT"))

#### Type 3

In [25]:
df = df.withColumn("Grade",when(((col("Salary")>50000)&(col("Exp")>4)),"A")\
                          .when(((col("Salary")>50000)&(col("Exp")<4)),"B")\
                          .otherwise("C"))
df.show(10)

+------+------+---------+------+---+------------+-----------+-----+
|emp_id|  Name|     dept|Salary|Exp|Salary_grade|   category|Grade|
+------+------+---------+------+---+------------+-----------+-----+
|     1|  Arun|       IT| 75000|  5|        High|    best_IT|    A|
|     2| Meena|       HR| 42000|  2|         low|Best_non-IT|    C|
|     3|  Ravi|  Finance| 68000|  7|        High|Best_non-IT|    A|
|     4| Kiran|       IT| 30000|  1|         low|Best_non-IT|    C|
|     5|  Sana|Marketing| 52000|  4|        High|Best_non-IT|    C|
|     6|Joseph|       IT| 90000|  9|        High|    best_IT|    A|
|     7| Anita|  Finance| 25000|  1|         low|Best_non-IT|    C|
|     8| Rahul|       HR| 48000|  3|         low|Best_non-IT|    C|
|     9|Vishal|Marketing| 72000|  6|        High|Best_non-IT|    A|
|    10|  Rita|  Finance| 38000|  2|         low|Best_non-IT|    C|
+------+------+---------+------+---+------------+-----------+-----+
only showing top 10 rows