#### JOIN

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("field").getOrCreate()

data1 = [
  (1, "Arun",  "Chennai"),
  (2, "Meena", "Delhi"),
  (3, "Ravi",  "Mumbai"),
  (4, "Priya", "Hyderabad")
]

data2 =[
  (101, 1, "Laptop"),
  (102, 1, "Mouse"),
  (103, 3, "Speaker"),
  (104, 5, "Tablet")
]

df1 = spark.createDataFrame(data=data1,schema=["order_id","name","location"])
df2 = spark.createDataFrame(data=data2,schema=["item_id","order_id","item"])

#### Inner join

In [5]:
df_inner = df1.join(df2,df1["order_id"]==df2["order_id"],how="inner")
df_inner.show()

+--------+----+--------+-------+--------+-------+
|order_id|name|location|item_id|order_id|   item|
+--------+----+--------+-------+--------+-------+
|       1|Arun| Chennai|    101|       1| Laptop|
|       1|Arun| Chennai|    102|       1|  Mouse|
|       3|Ravi|  Mumbai|    103|       3|Speaker|
+--------+----+--------+-------+--------+-------+

### Left join

In [9]:
df_left = df1.join(df2,df1["order_id"]==df2["order_id"],how="left")
df_left.show()

+--------+-----+---------+-------+--------+-------+
|order_id| name| location|item_id|order_id|   item|
+--------+-----+---------+-------+--------+-------+
|       1| Arun|  Chennai|    102|       1|  Mouse|
|       1| Arun|  Chennai|    101|       1| Laptop|
|       2|Meena|    Delhi|   NULL|    NULL|   NULL|
|       3| Ravi|   Mumbai|    103|       3|Speaker|
|       4|Priya|Hyderabad|   NULL|    NULL|   NULL|
+--------+-----+---------+-------+--------+-------+

#### Right join

In [10]:
df_right = df1.join(df2,df1["order_id"]==df2["order_id"],how="right")
df_right.show()

+--------+----+--------+-------+--------+-------+
|order_id|name|location|item_id|order_id|   item|
+--------+----+--------+-------+--------+-------+
|       1|Arun| Chennai|    101|       1| Laptop|
|       1|Arun| Chennai|    102|       1|  Mouse|
|       3|Ravi|  Mumbai|    103|       3|Speaker|
|    NULL|NULL|    NULL|    104|       5| Tablet|
+--------+----+--------+-------+--------+-------+

### Left anti

In [15]:
df_left_anti = df1.join(df2,df1["order_id"]==df2["order_id"],how="anti")
df1.show()
df2.show()
df_left_anti.show()

+--------+-----+---------+
|order_id| name| location|
+--------+-----+---------+
|       2|Meena|    Delhi|
|       4|Priya|Hyderabad|
+--------+-----+---------+